<!--The content below is only a placeholder and can be replaced.-->
<div ng-app="app" style="text-align:center">
  <nav>
  <div class="header">Welcome to {{title}}</div>
   <ul>
      <li><a routerLink="/upload/">Upload</a></li>
      <li><a routerLink="/audit/">Audit</a></li>
      <li><a routerLink="/info/">Home</a></li>
  </ul>
  </nav>  
  <div class="content">
    <app-info></app-info>
    <button routerLink="/audit/">View Audit</button><br>
    <button routerLink="/upload/">View Upload</button><br>
  <div class="info" style="text-align: center;">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>